<h1 mat-dialog-title>{{getCapitalized(day.month)}} {{day.date}}</h1>
<div mat-dialog-content>

  <form [formGroup]="eventForms" (ngSubmit)="onSaveClick()">
    <div formArrayName="forms">
      <button mat-fab color="primary" (click)="addForm()" type="button" aria-label="add event">
        <mat-icon>add</mat-icon>
      </button>
      <mat-accordion>
      <div class="event-template" *ngFor="let alias of forms.controls; let i=index"> 
          <!-- #docregion basic-panel -->
          <!-- #docregion hide-toggle -->
            <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is the expansion title
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-mini-fab color="primary" class="delete-button" type="button" aria-label="delete event">
                    <mat-icon>delete</mat-icon>
                  </button> 
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="title-row">
                <mat-form-field>
                  <mat-label>Event Title</mat-label>
                  <input id="title-{{ i }}" type="text" formControlName="title" matInput placeholder="Title Caption" value="">
                </mat-form-field> 
              </div>
              <mat-radio-group formControlName="type" aria-label="Select Type Of Event">
                <mat-radio-button [checked]="true" color="primary" value="1">Ordinary</mat-radio-button>
                <mat-radio-button color="primary" value="2">Holyday</mat-radio-button>
              </mat-radio-group> 
              <div class="duration-row">
                <mat-form-field>
                  <mat-label>Duration</mat-label>
                  <input id="duration-number-{{ i }}" type="number" formControlName="durationNumber" matInput placeholder="Duration Number"
                    value="1">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Type of Duration</mat-label>
                  <mat-select formControlName="durationType">
                    <mat-option *ngFor="let item of durationTypes" [value]="item.value" value="durationTypes[0].value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> 
            </mat-expansion-panel>  
      </div>
    </mat-accordion>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" [mat-dialog-close]="day" cdkFocusInitial>Save</button>
</div>